<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Fiscal Code</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Province</th>
      <th scope="col">Json</th>
    </tr>
  </thead>
  <tbody>
    <!--Dati caricati a runtime-->
    <!--Nuova sintassi-->
    @for (user of users; track user.email; let i = $index) {
      <!--<app-user [cnt]=i [user] = user></app-user> binding one-way-->
      <tr>
        <td><span class="text-body-secondary">{{i + 1}}</span></td>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.fiscalCode}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.province}}</td>
        <td>{{user | json}}</td>
        <td><button (click)="deleteUser(user)" class="btn btn-danger">Delete</button></td>
      </tr>

    }
    @empty {<li>No items</li>
    }
    <!--Vecchia sintassi-->
    <!--
    <tr *ngFor="let user of users; let i = index; trackBy: trackUser">
      <th>{{i + 1}}</th>
      <th>{{user.name}}</th>
      <th>{{user.lastName}}</th>
      <th>{{user.email}}</th>
      <th>{{user.fiscalCode}}</th>
      <th>{{user.phoneNumber}}</th>
      <th>{{user.province}}</th>
      <th>{{user | json}}</th>
    </tr>
  -->
  </tbody>
</table>
