<form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="User name">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name">
  </div>
  <div class="mb-3">
    <label for="fiscalCode" class="form-label">Fiscal Code</label>
    <input type="text" id="fiscalCode" name="fiscalCode" class="form-control" placeholder="Fiscal Code">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
  </div>
  <div class="mb-3">
    <label for="province" class="form-label">Province</label>
    <input type="text" id="province" name="province" class="form-control" placeholder="Province">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary me-2">Edit</button>
    <button type="reset" class="btn btn-secondary ms-2">Reset</button>
  </div>
</form>
